@import '../../../variables';
@import '../../../functions';

.second-section {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(120);

    .text {
        color: #C4F07F;
        text-align: center;
        margin-bottom: rem(60);
        font-size: 3.5vmax;
        isolation: isolate;
        z-index: 20;
        font-family: $mf;
        text-transform: uppercase;

        		@media screen and (min-width: 576px) {
			font-size: 5vmax;
		}
    }

    .figure {
        position: absolute;
        max-height: 100vh;
        z-index: 0;
        width: 75vw;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            width: 50vw;
        }

        svg {
            animation: circleMoveAroundLight 10s infinite linear;
        }
    }
}
