<div class="container my-lg-5 py-lg-5">
    <div class="d-none d-lg-flex align-items-center justify-content-center my-5 py-5">
        <div class="d-none d-lg-flex align-items-center justify-content-center" data-aos="zoom-out-left">
            <a href="#" class="text-rounded-for-link" data-aos="zoom-out">
                <div class="rounded-text">
                    Presentations Presentations
                </div>
                <div class="d-flex flex-column linear-text">
                    presentations
                    <svg class="arrow pt-3" width="81" height="24" viewBox="0 0 81 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M80.0607 13.0607C80.6464 12.4749 80.6464 11.5251 80.0607 10.9393L70.5147 1.3934C69.9289 0.807618 68.9792 0.807617 68.3934 1.3934C67.8076 1.97919 67.8076 2.92894 68.3934 3.51472L76.8787 12L68.3934 20.4853C67.8076 21.0711 67.8076 22.0208 68.3934 22.6066C68.9792 23.1924 69.9289 23.1924 70.5147 22.6066L80.0607 13.0607ZM-1.31134e-07 13.5L79 13.5L79 10.5L1.31134e-07 10.5L-1.31134e-07 13.5Z"
                            fill="white" />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
