@import '../../../variables';
@import '../../../functions';

.expand-section {
    min-height: 100vh;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    margin-top: rem(200);
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        max-width: 90%;
        isolation: isolate;
        z-index: 1000;
        line-height: 10vmax;
        font-size: 5vmax;

        @media screen and (min-width: 768px) {
            font-size: 7vmax;
        }
    }

    .point {
        svg {
            transform: translateY(-50%);
        }
    }

    .circle-right,
    .circle {
        position: absolute;
        display: block;
        top: 25%;
        right: 0;
        z-index: 10;

        svg {
            isolation: isolate;
            z-index: 10;
        }
    }

    .circle {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
        animation: circle-anim-expand-section 30s infinite linear;

        svg {
            isolation: isolate;
            z-index: 10;
        }
    }
}

@keyframes circle-anim-expand-section {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0;
    }

    25% {
        transform: translate(30%, -10%) scale(0.95);
        opacity: 1;
    }

    50% {
        transform: translate(-10%, -20%) scale(0.7);
    }

    75% {
        transform: translate(25%, 10%) scale(1);
    }

    100% {
        transform: translate(0, 0) scale(1);
        opacity: 0;
    }
}
