@import '../../variables';
@import '../../functions';

.community-block {
    .img {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .text-rounded-for-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        letter-spacing: rem(10);
        z-index: 10;
        position: relative;
        width: 40%;
        transform: translateY(rem(-20));

        .rounded-text {
            transition: 5s;
            transform: rotate(0deg);
        }

        .linear-text {
            position: relative;
            z-index: 30;
            letter-spacing: normal;
            margin-top: -230%;
            color: #C4F07F;
            padding: rem(30);

            .arrow {
                transition: 0.35s;
            }
        }

        &:hover {
            .linear-text {
                .arrow {
                    transform: translateX(10%);

                    path {
                        fill: #C4F07F;
                    }
                }
            }

            .rounded-text {
                transform: rotate(360deg);
            }
        }
    }

    .headline {
        font-size: rem(48);
        font-family: $mf;
        line-height: rem(80);
        text-transform: uppercase;

        .accent-color {
            color: #C4F07F;
        }
    }

    .text {
        font-size: rem(16);
        line-height: rem(30);
        color: #CCCBCB;
    }

    .seccond-text {
        margin-top: rem(30);
    }
}
