@import "../../functions";

.delimiter {
  display: flex;
  align-items: center;
  border-top: rem(1) solid white;
  border-bottom: rem(1) solid white;
  padding: rem(5) 0 rem(15) 0;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2vmax;

  .accent-text-main {
    color: #d4f378;
    margin: 0 rem(20);
    font-size: 2.5vmax;
  }

  .icon-delimiter {
    margin-right: rem(15);

    svg {
      width: 5vmax;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 5vmax;

    .accent-text {
      font-size: 5.5vmax;
    }

    .icon-delimiter {
      svg {
        width: 5vmax;
        padding-top: rem(15);
      }
    }
  }
}
