<div class="franchise">
    <div class="container-md">
        <div class="row row-cols-1 row-cols-lg-2 justify-content-between">
            <div class="headline">
                Franchise
            </div>
            <div class="text ps-lg-5 mt-3 mt-lg-0">
                Electric vehicle sharing is a new business area. And the Electra company is ready to offer a franchise
                to everyone,
                anywhere in the world. Sharing franchise from Electra is a ready-to-use product
            </div>
        </div>
        <div class="text">
            Indeed, today this area has just begun its growth, everyone wants to avoid traffic jams, problems with
            gas pollution and
            emissions into the atmosphere. There are a lot of cities in the world where this direction is needed.
        </div>
    </div>


    <div class="slider-wrapper">
        <div id="slider-blocks-franchise">
            <section class="slide active" id="slide_1">
                <div class="content d-flex flex-column justify-content-center align-items-center">
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                </div>
            </section>

            <section class="slide" id="slide_2">
                <div class="content row row-cols-1 row-cols-lg-2">
                    <div class="img">
                        <img width="100%" src="../../../assets/images/manWithPhone.jpg" alt="man with phone">
                    </div>
                    <div class="py-5">
                        <div class="text pb-5">
                            However, the main advantage of our franchise is that there is no flat fee. Franchisees pay
                            only 5% per month of profit,
                            2% of which is spent on commission for payment transfers. That is, the main advantage of the
                            franchise we offer is that
                            it is free!

                            <div class="d-block d-xxl-none" data-aos="fade-up">
                                For more information on the franchise with numbers you can
                                watch our presentation at the
                                link below
                            </div>

                            <div class="d-flex d-xxl-none align-items-center text-center mt-3" data-aos="fade-left"
                                data-aos-offset="200">
                                <a href="#" class="link">
                                    <div class="">
                                        Presentations
                                        <svg class="arrow pt-3" width="81" height="24" viewBox="0 0 81 24">
                                            <path
                                                d="M80.0607 13.0607C80.6464 12.4749 80.6464 11.5251 80.0607 10.9393L70.5147 1.3934C69.9289 0.807618 68.9792 0.807617 68.3934 1.3934C67.8076 1.97919 67.8076 2.92894 68.3934 3.51472L76.8787 12L68.3934 20.4853C67.8076 21.0711 67.8076 22.0208 68.3934 22.6066C68.9792 23.1924 69.9289 23.1924 70.5147 22.6066L80.0607 13.0607ZM-1.31134e-07 13.5L79 13.5L79 10.5L1.31134e-07 10.5L-1.31134e-07 13.5Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between mt-5 pt-5 second-position"
                            data-aos="zoom-out-up">
                            <div class="icon me-5 d-none d-lg-block">
                                <svg width="152" height="152" viewBox="0 0 152 152" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M76 0L81.8168 61.957L129.74 22.2599L90.043 70.1832L152 76L90.043 81.8168L129.74 129.74L81.8168 90.043L76 152L70.1832 90.043L22.2599 129.74L61.957 81.8168L0 76L61.957 70.1832L22.2599 22.2599L70.1832 61.957L76 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div class="text" data-aos="fade-up">
                                For more information on the franchise with numbers you can watch our presentation at the
                                link below
                            </div>
                        </div>

                        <div class="d-none d-xxl-flex align-items-center justify-content-center mt-3">
                            <div class="d-none d-lg-flex flex-column align-items-center justify-content-center"
                                data-aos="zoom-out-left">
                                <a href="#"
                                    class="text-rounded-for-link d-flex align-items-center justify-content-center"
                                    data-aos="zoom-out">
                                    <div class="rounded-text">
                                        Presentations Presentations
                                    </div>
                                    <div class="d-flex flex-column linear-text-presentatino">
                                        presentations
                                        <svg class="arrow pt-3" width="81" height="24" viewBox="0 0 81 24">
                                            <path
                                                d="M80.0607 13.0607C80.6464 12.4749 80.6464 11.5251 80.0607 10.9393L70.5147 1.3934C69.9289 0.807618 68.9792 0.807617 68.3934 1.3934C67.8076 1.97919 67.8076 2.92894 68.3934 3.51472L76.8787 12L68.3934 20.4853C67.8076 21.0711 67.8076 22.0208 68.3934 22.6066C68.9792 23.1924 69.9289 23.1924 70.5147 22.6066L80.0607 13.0607ZM-1.31134e-07 13.5L79 13.5L79 10.5L1.31134e-07 10.5L-1.31134e-07 13.5Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section class="slide" id="slide_3">
                <div class="content d-flex flex-column flex-lg-row justify-content-between align-items-center">
                    <div class="list">
                        <div class="item">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Organizing the purchase of transport, hiring and training employees</div>
                        </div>

                        <div class="item">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Own application for users and admin panel</div>
                        </div>

                        <div class="item">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Brand and corporate design</div>
                        </div>

                        <div class="item">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Marketing and support with ad campaigns</div>
                        </div>
                    </div>

                    <div class="img-fluid d-none d-lg-block">
                        <img width="100%" src="../../../assets/images/mansWithLaptop.jpg" alt="mans and laptop">
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
