<div class="franchise">
    <div class="container-md">
        <div class="row row-cols-1 row-cols-lg-2 justify-content-between">
            <!-- TODO:: headline назежает на text -->
            <div class="headline">
                Franchise
            </div>
            <div class="text ps-lg-5">
                We are making dreams come true. Our dream is to create an eco-friendly environment. In order to achieve
                this
                we came
                up with a transport project that will reduce the usage of petrol and gas.In order to achieve this
                we came
                up with
                a transport project that will reduce the usage .
            </div>
        </div>
    </div>


    <div class="slider-wrapper">
        <div id="slider-blocks-franchise">
            <section class="slide active" id="slide_1">
                <div class="content d-flex flex-column justify-content-center align-items-center">
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                    <div class="frenchise-text" data-aos="fade-left" data-aos-offset="500">
                        Franchise</div>
                </div>
            </section>

            <!-- TODO:: не видел текст под фоткой в горизонтальном виде -->
            <section class="slide" id="slide_2">
                <div class="content row row-cols-1 row-cols-lg-2">
                    <div class="img">
                        <img width="100%" src="../../../assets/images/manWithPhone.jpg" alt="man with phone">
                    </div>
                    <div class="py-5">
                        <div class="text pb-5">
                            We are making dreams come true. Our dream is to create an eco-friendly environment.
                            In order to achieve this we came up with a transport project that will reduce the usage
                            of petrol and gas. In order to achieve this we came up with a transport project that will
                            reduce the usage .
                        </div>

                        <div class="d-flex align-items-center justify-content-between mt-5 pt-5 second-postition"
                            data-aos="zoom-out-up">
                            <div class="icon me-5">
                                <svg width="152" height="152" viewBox="0 0 152 152" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M76 0L81.8168 61.957L129.74 22.2599L90.043 70.1832L152 76L90.043 81.8168L129.74 129.74L81.8168 90.043L76 152L70.1832 90.043L22.2599 129.74L61.957 81.8168L0 76L61.957 70.1832L22.2599 22.2599L70.1832 61.957L76 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div class="text" data-aos="fade-up">
                                We are making dreams come true. Our dream is to create an eco-friendly environment.
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="slide" id="slide_3">
                <div class="content d-flex flex-column flex-lg-row justify-content-between align-items-center">
                    <div class="list">
                        <div class="item" data-aos="zoom-out-up">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Support 24/7</div>
                        </div>

                        <div class="item" data-aos="zoom-out-up">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Reliable brand</div>
                        </div>

                        <div class="item" data-aos="zoom-out-up">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Profit</div>
                        </div>

                        <div class="item" data-aos="zoom-out-up">
                            <div class="me-4">
                                <svg width="72" height="72" viewBox="0 0 72 72" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M36 0L38.7553 29.3481L61.4558 10.5442L42.6519 33.2447L72 36L42.6519 38.7553L61.4558 61.4558L38.7553 42.6519L36 72L33.2447 42.6519L10.5442 61.4558L29.3481 38.7553L0 36L29.3481 33.2447L10.5442 10.5442L33.2447 29.3481L36 0Z"
                                        fill="#C4F07F" />
                                </svg>
                            </div>
                            <div>Become a part of our team</div>
                        </div>
                    </div>

                    <div class="img-fluid d-none d-lg-block">
                        <img width="100%" src="../../../assets/images/mansWithLaptop.jpg" alt="mans and laptop">
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
