@import "../../functions";

.statue-section-block {
  margin: rem(120) 0;

  .link-block {
    max-width: rem(450);
    margin-left: auto;

    .text {
      margin-left: auto;
      line-height: rem(40);
    }
  }

  .sculpture {
    position: relative;

    .figure {
      width: 100%;
    }

    .glasses {
      width: rem(300);
      position: absolute;
      top: -5%;
      left: 8.5%;
    }

    .round {
      max-width: rem(630);
      margin-top: -150%;
      transform: scale(1.35) translateY(-5%);

      .circle-first {
        animation: circle 7.5s infinite;
      }

      .circle-second {
        animation: circle 10s infinite;
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
