@import "../../functions";
@import "../../variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.circle-text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  max-width: 100vw;

  .container {
    padding: 75vh 0;
    transform: scale(0.75);

    @media screen and (max-height: 568px) {
      transform: scale(1);
      padding: 120vh 0 !important;
    }

    @media screen and (min-width: 768px) {
      transform: scale(1);
      padding: 75vh 0;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $rf;
    font-size: rem(24);
    isolation: isolate;
    z-index: 2;

    @include media-breakpoint-up(md) {
      isolation: isolate;
      z-index: 1;
    }

    .text-rounded-for-img-first {
      position: absolute;
      letter-spacing: rem(15);
      animation: 120s circle-move-around-light infinite;
      animation-delay: 7.5s;
    }

    .text-rounded-for-img-second {
      position: absolute;
      letter-spacing: rem(3.5);
      animation: 80s circle-move-around-light infinite;
      animation-delay: 7.5s;
    }

    .text-rounded-for-img-last {
      position: absolute;
      letter-spacing: rem(25);
      animation: 100s circle-move-around-light infinite;
      animation-delay: 7.5s;
    }
  }

  .img-fern {
    position: absolute;
    display: block;
    max-width: rem(425);
    max-height: rem(380);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(15deg);
    z-index: 1;

    @include media-breakpoint-up(md) {
      isolation: isolate;
      z-index: 2;
    }

    .img-fluid {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
