<div class="circle-text-block">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="text">
                <div class="text-rounded-for-img-first">
                    It gives a low entropy form of energy which is carried over long distance and
                </div>
                <div class="text-rounded-for-img-second">
                    The electric power is produced by the generator and can also be supplied by the electrical batteries
                    |
                </div>
                <div class="text-rounded-for-img-last">
                    The unit of electrical power is Watt.
                </div>
            </div>

            <div class="img-fern">
                <img class="img-fluid" src="../../assets/images/fern.jpg" alt="image: fern">
            </div>
        </div>
    </div>

</div>
