<div class="slider-wrapper">
    <div id="slider-blocks">
        <section class="slide" id="slide_1">
            <div class="content">
                <div class="slider-container">
                    <div class="wrapper">
                        <div class="d-block img-poster">
                            <img class="img-fluid" src="../../assets/images/bike.jpg" alt="image: bike">
                        </div>

                        <div class="text-block">
                            <div class="headline">
                                Our Goal
                            </div>
                            <div class="text">
                                We are making dreams come true. Our dream is to create an eco-friendly environment.
                                In order
                                to achieve this we came up with a transport project that will reduce the usage of petrol
                                and gas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="slide" id="slide_2">
            <div class="content">
                <div class="slider-container">
                    <div class="wrapper">
                        <div class="d-block img-poster col-3">
                            <img class="img-fluid" src="../../assets/images/menWithBike.jpg" alt="image: bike">
                        </div>

                        <div class="text-block">
                            <div class="headline">
                                We solve

                                <svg class="accent-line" width="200" height="2" viewBox="0 0 200 2">
                                    <line y1="1" x2="196" y2="1" stroke="#C4F07F" stroke-width="2" />
                                </svg> <br>
                                <span>traffic</span> problems
                            </div>
                            <div class="text">
                                The less cars on the road the less traffic is. We care about traffic as well so we want
                                people to use different modes
                                of transport to lessen the traffic and make your ride more enjoyable.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="slide" id="slide_3">
            <div class="content">
                <div class="slider-container">
                    <div class="wrapper">
                        <div class="d-block img-poster">
                            <img class="img-fluid" src="../../assets/images/bikes.jpg" alt="image: bike">
                        </div>

                        <div class="left-block">
                            <div class="circle-lines">
                                <svg width="317" height="316" viewBox="0 0 317 316" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_224:9734)">
                                        <path d="M197.215 4.93359L173.403 93.7988" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip1_224:9734)">
                                        <path d="M216.857 11.3613L181.65 96.3582" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip2_224:9734)">
                                        <path d="M235.494 20.2982L189.494 99.9725" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip3_224:9734)">
                                        <path d="M252.807 31.5911L196.801 104.58" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip4_224:9734)">
                                        <path d="M268.494 45.0471L203.44 110.101" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip5_224:9734)">
                                        <path d="M282.291 60.4354L209.302 116.441" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip6_224:9734)">
                                        <path d="M293.963 77.4933L214.289 123.493" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip7_224:9734)">
                                        <path d="M303.309 95.9287L218.312 131.136" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip8_224:9734)">
                                        <path d="M310.168 115.426L221.303 139.237" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip9_224:9734)">
                                        <path d="M314.422 135.652L223.209 147.66" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip10_224:9734)">
                                        <path d="M316.002 156.26L224.002 156.26" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip11_224:9734)">
                                        <path d="M314.877 176.898L223.664 164.89" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip12_224:9734)">
                                        <path d="M311.066 197.213L222.201 173.401" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip13_224:9734)">
                                        <path d="M304.639 216.856L219.642 181.65" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip14_224:9734)">
                                        <path d="M295.703 235.493L216.029 189.493" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip15_224:9734)">
                                        <path d="M284.41 252.804L211.422 196.798" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip16_224:9734)">
                                        <path d="M270.955 268.492L205.901 203.439" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip17_224:9734)">
                                        <path d="M255.564 282.29L199.558 209.302" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip18_224:9734)">
                                        <path d="M238.508 293.962L192.508 214.287" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip19_224:9734)">
                                        <path d="M220.072 303.307L184.865 218.31" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip20_224:9734)">
                                        <path d="M200.574 310.166L176.763 221.301" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip21_224:9734)">
                                        <path d="M180.348 314.421L168.339 223.208" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip22_224:9734)">
                                        <path d="M159.74 316L159.74 224" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip23_224:9734)">
                                        <path d="M139.102 314.875L151.11 223.662" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip24_224:9734)">
                                        <path d="M118.787 311.066L142.598 222.201" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip25_224:9734)">
                                        <path d="M99.1445 304.639L134.351 219.642" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip26_224:9734)">
                                        <path d="M80.5078 295.702L126.508 216.028" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip27_224:9734)">
                                        <path d="M63.1953 284.409L119.201 211.42" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip28_224:9734)">
                                        <path d="M47.5078 270.953L112.562 205.899" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip29_224:9734)">
                                        <path d="M33.709 255.565L106.698 199.559" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip30_224:9734)">
                                        <path d="M22.0371 238.507L101.711 192.507" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip31_224:9734)">
                                        <path d="M12.6934 220.071L97.6903 184.865" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip32_224:9734)">
                                        <path d="M5.83398 200.574L94.6992 176.763" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip33_224:9734)">
                                        <path d="M1.58008 180.348L92.793 168.34" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip34_224:9734)">
                                        <path d="M0 159.74L92 159.74" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip35_224:9734)">
                                        <path d="M1.12305 139.102L92.336 151.11" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip36_224:9734)">
                                        <path d="M4.93359 118.787L93.7988 142.599" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip37_224:9734)">
                                        <path d="M11.3613 99.1437L96.3582 134.351" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip38_224:9734)">
                                        <path d="M20.2988 80.5069L99.9732 126.507" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip39_224:9734)">
                                        <path d="M31.5918 63.1963L104.58 119.202" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip40_224:9734)">
                                        <path d="M45.0469 47.5077L110.101 112.561" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip41_224:9734)">
                                        <path d="M60.4355 33.7094L116.442 106.698" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip42_224:9734)">
                                        <path d="M77.4922 22.0382L123.492 101.713" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip43_224:9734)">
                                        <path d="M95.9277 12.6931L131.135 97.6901" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip44_224:9734)">
                                        <path d="M115.428 5.8342L139.239 94.6994" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip45_224:9734)">
                                        <path d="M135.652 1.57898L147.661 92.7919" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip46_224:9734)">
                                        <path d="M156.26 0.000183105V92.0002" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <g clip-path="url(#clip47_224:9734)">
                                        <path d="M176.9 1.12488L164.892 92.3378" stroke="#C4F07F" stroke-width="2" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(194.316 4.15714) rotate(15)" />
                                        </clipPath>
                                        <clipPath id="clip1_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(214.086 10.2133) rotate(22.5)" />
                                        </clipPath>
                                        <clipPath id="clip2_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(232.896 18.7982) rotate(30)" />
                                        </clipPath>
                                        <clipPath id="clip3_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(250.426 29.7648) rotate(37.5)" />
                                        </clipPath>
                                        <clipPath id="clip4_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(266.373 42.9258) rotate(45)" />
                                        </clipPath>
                                        <clipPath id="clip5_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(280.465 58.0553) rotate(52.5)" />
                                        </clipPath>
                                        <clipPath id="clip6_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(292.463 74.8953) rotate(60)" />
                                        </clipPath>
                                        <clipPath id="clip7_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(302.16 93.1571) rotate(67.5)" />
                                        </clipPath>
                                        <clipPath id="clip8_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(309.391 112.528) rotate(75)" />
                                        </clipPath>
                                        <clipPath id="clip9_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(314.031 132.677) rotate(82.5)" />
                                        </clipPath>
                                        <clipPath id="clip10_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(316.002 153.26) rotate(90)" />
                                        </clipPath>
                                        <clipPath id="clip11_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(315.268 173.924) rotate(97.5)" />
                                        </clipPath>
                                        <clipPath id="clip12_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(311.844 194.315) rotate(105)" />
                                        </clipPath>
                                        <clipPath id="clip13_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(305.787 214.085) rotate(112.5)" />
                                        </clipPath>
                                        <clipPath id="clip14_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(297.203 232.895) rotate(120)" />
                                        </clipPath>
                                        <clipPath id="clip15_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(286.236 250.424) rotate(127.5)" />
                                        </clipPath>
                                        <clipPath id="clip16_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(273.076 266.371) rotate(135)" />
                                        </clipPath>
                                        <clipPath id="clip17_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(257.945 280.464) rotate(142.5)" />
                                        </clipPath>
                                        <clipPath id="clip18_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(241.105 292.462) rotate(150)" />
                                        </clipPath>
                                        <clipPath id="clip19_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(222.844 302.159) rotate(157.5)" />
                                        </clipPath>
                                        <clipPath id="clip20_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(203.473 309.389) rotate(165)" />
                                        </clipPath>
                                        <clipPath id="clip21_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(183.322 314.029) rotate(172.5)" />
                                        </clipPath>
                                        <clipPath id="clip22_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(162.74 316) rotate(-180)" />
                                        </clipPath>
                                        <clipPath id="clip23_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(142.076 315.267) rotate(-172.5)" />
                                        </clipPath>
                                        <clipPath id="clip24_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(121.686 311.843) rotate(-165)" />
                                        </clipPath>
                                        <clipPath id="clip25_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(101.916 305.787) rotate(-157.5)" />
                                        </clipPath>
                                        <clipPath id="clip26_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(83.1055 297.202) rotate(-150)" />
                                        </clipPath>
                                        <clipPath id="clip27_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(65.5762 286.235) rotate(-142.5)" />
                                        </clipPath>
                                        <clipPath id="clip28_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(49.6289 273.074) rotate(-135)" />
                                        </clipPath>
                                        <clipPath id="clip29_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(35.5352 257.945) rotate(-127.5)" />
                                        </clipPath>
                                        <clipPath id="clip30_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(23.5371 241.105) rotate(-120)" />
                                        </clipPath>
                                        <clipPath id="clip31_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(13.8418 222.843) rotate(-112.5)" />
                                        </clipPath>
                                        <clipPath id="clip32_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(6.61133 203.472) rotate(-105)" />
                                        </clipPath>
                                        <clipPath id="clip33_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(1.9707 183.323) rotate(-97.5)" />
                                        </clipPath>
                                        <clipPath id="clip34_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(0 162.74) rotate(-90)" />
                                        </clipPath>
                                        <clipPath id="clip35_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(0.732422 142.076) rotate(-82.5)" />
                                        </clipPath>
                                        <clipPath id="clip36_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(4.15625 121.685) rotate(-75)" />
                                        </clipPath>
                                        <clipPath id="clip37_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(10.2129 101.915) rotate(-67.5)" />
                                        </clipPath>
                                        <clipPath id="clip38_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(18.7988 83.105) rotate(-60)" />
                                        </clipPath>
                                        <clipPath id="clip39_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(29.7656 65.5763) rotate(-52.5)" />
                                        </clipPath>
                                        <clipPath id="clip40_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(42.9258 49.629) rotate(-45)" />
                                        </clipPath>
                                        <clipPath id="clip41_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(58.0547 35.5357) rotate(-37.5)" />
                                        </clipPath>
                                        <clipPath id="clip42_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(74.8945 23.5382) rotate(-30)" />
                                        </clipPath>
                                        <clipPath id="clip43_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(93.1562 13.8412) rotate(-22.5)" />
                                        </clipPath>
                                        <clipPath id="clip44_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(112.529 6.61066) rotate(-15)" />
                                        </clipPath>
                                        <clipPath id="clip45_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(132.678 1.97055) rotate(-7.5)" />
                                        </clipPath>
                                        <clipPath id="clip46_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(153.26 0.000183105)" />
                                        </clipPath>
                                        <clipPath id="clip47_224:9734">
                                            <rect width="9.47999" height="316" fill="white"
                                                transform="translate(173.926 0.733307) rotate(7.50004)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="headline mb-3 d-block d-md-none">Electric filling stations in your city</div>

                            <div class="text">
                                Electric filling stations are available in your city now. If your scooter
                                is out of energy you can always charge it where it is more comfortable for you.
                            </div>
                        </div>
                    </div>
                    <div class="headline d-none d-md-block">Electric filling stations in your city</div>
                </div>
            </div>
        </section>
    </div>

</div>
