@import "../../../variables";
@import "../../../functions";

.about-section {
  .headline {
    font-size: 5vmax;
    text-transform: uppercase;

    @media screen and (min-width: 1660px) {
      font-size: rem(68);
    }
  }

  .poster-with-arrow {
    margin-bottom: rem(30);

    @media screen and (min-width: 768px) {
      margin-bottom: rem(120);
    }

    .poster {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .arrow-to-down {
        margin-top: rem(30);

        @media screen and (min-width: 768px) {
          position: absolute;
          bottom: -7.5vmax;
          margin-top: 0;
        }
      }
    }
  }

  .text {
    line-height: rem(30);
  }
}
