<div class="delimiter" data-aos="fade-up">
    <div class="icon-delimiter">
        <svg viewBox=" 0 0 88 88" fill="none">
            <path
                d="M88 43.9686C70.7389 45.5367 60.8217 46.9793 54.7332 51.7463C47.5777 57.3286 45.883 67.5524 44 88C42.0542 66.7997 40.2967 56.6386 32.4508 51.1818C26.3623 46.9166 16.5078 45.5367 0 44.0314C17.1983 42.4633 27.1783 41.0207 33.204 36.3165C40.4223 30.6714 42.117 20.5103 44 0C45.7575 18.8795 47.3267 28.9779 53.1641 34.8111C59.0014 40.6443 69.1698 42.2751 88 43.9686Z"
                fill="#D4F378" />
        </svg>
    </div>

    <div class="accent-text">
        Electra
    </div>

    <div>
        App
    </div>

    <div class="icon-delimiter ms-4 ms-md-5">
        <svg viewBox="0 0 72 72">
            <g clip-path="url(#clip0_0:1043)">
                <path
                    d="M36 35.9999C67.0645 53.129 75.1936 68.8064 71.129 71.7096C67.0645 74.3225 52.2581 65.6128 36 35.9999C18.5807 67.6451 2.90324 75.4838 0.290334 70.8386C-2.03225 66.4838 6.96775 51.9677 36 35.9999C5.80646 19.1612 -2.61289 4.06442 0.580656 0.580553C4.06453 -2.613 19.1613 5.80636 36 35.9999C51.6774 7.5483 66.1936 -1.45171 70.5484 0.29023C75.7742 2.32249 68.2258 18.2902 36 35.9999Z"
                    fill="white" />
            </g>
            <defs>
                <clipPath id="clip0_0:1043">
                    <rect width="100%" height="130" fill="white" />
                </clipPath>
            </defs>
        </svg>

    </div>
    <div class="icon-delimiter ms-2 ms-md-4">
        <svg viewBox="0 0 144 125">
            <g clip-path="url(#clip0_0:1041)">
                <path
                    d="M107.981 0C90.9063 29.5485 81.4727 44.2837 71.961 44.2837C62.4494 44.2837 53.0157 29.5485 36.0195 0C53.0157 29.5485 61.124 45.1413 56.3682 53.3276C51.6124 61.5138 34.0704 62.3714 0 62.3714C35.3178 62.3714 52.8598 63.229 56.836 72.2729C60.5782 80.693 52.47 96.2079 36.0195 124.743C53.0937 95.1944 62.5273 80.4591 72.039 80.4591C81.5506 80.4591 90.9843 95.1944 108.058 124.743C89.9708 93.3232 82.0184 77.7304 88.7233 69.9339C94.6486 63.0731 112.113 62.3714 144.078 62.3714C108.058 62.3714 90.5165 61.4358 87.0081 51.8462C83.8116 43.2702 91.9199 27.8332 107.981 0Z"
                    fill="#C4F07F" />
            </g>
            <defs>
                <clipPath id="clip0_0:1041">
                    <rect width="100%" height="130" fill="white" />
                </clipPath>
            </defs>
        </svg>

    </div>
    <div class="icon-delimiter ms-md-4 d-none d-lg-block">
        <svg width="100%" viewBox="0 0 96 96" fill="none">
            <g clip-path="url(#clip0_0:944)">
                <path d="M61 1.79053L44.8083 62.2186" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip1_0:944)">
                <path d="M66.9213 3.88342L42.9807 61.6811" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip2_0:944)">
                <path d="M72.5197 6.73083L41.2398 60.9091" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip3_0:944)">
                <path d="M77.6954 10.2841L39.6115 59.916" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip4_0:944)">
                <path d="M82.3644 14.483L38.1279 58.7194" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip5_0:944)">
                <path d="M86.4449 19.2556L36.813 57.3395" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip6_0:944)">
                <path d="M89.8677 24.5197L35.6893 55.7995" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip7_0:944)">
                <path d="M92.5776 30.1854L34.78 54.126" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip8_0:944)">
                <path d="M94.5198 36.1561L34.0917 52.3478" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip9_0:944)">
                <path d="M95.6687 42.3297L33.6442 50.4954" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip10_0:944)">
                <path d="M96 48.6L33.4403 48.5999" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip11_0:944)">
                <path d="M95.511 54.86L33.4865 46.6943" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip12_0:944)">
                <path d="M94.2103 61.0027L33.7823 44.811" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip13_0:944)">
                <path d="M92.1177 66.9233L34.32 42.9827" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip14_0:944)">
                <path d="M89.2692 72.5194L35.0909 41.2395" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip15_0:944)">
                <path d="M85.7156 77.6962L36.0836 39.6122" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip16_0:944)">
                <path d="M81.5184 82.3649L37.282 38.1284" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip17_0:944)">
                <path d="M76.7456 86.4457L38.6617 36.8137" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip18_0:944)">
                <path d="M71.4803 89.8688L40.2005 35.6904" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip19_0:944)">
                <path d="M65.8163 92.5754L41.8757 34.7778" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip20_0:944)">
                <path d="M59.8438 94.519L43.6521 34.091" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip21_0:944)">
                <path d="M53.6689 95.6671L45.5033 33.6426" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip22_0:944)">
                <path d="M47.4015 95.9995L47.4015 33.4398" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip23_0:944)">
                <path d="M41.1415 95.5106L49.3072 33.4861" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip24_0:944)">
                <path d="M35 94.209L51.1917 33.7809" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip25_0:944)">
                <path d="M29.0787 92.1162L53.0193 34.3186" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip26_0:944)">
                <path d="M23.4803 89.2688L54.7602 35.0905" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip27_0:944)">
                <path d="M18.3046 85.7156L56.3885 36.0836" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip28_0:944)">
                <path d="M13.6356 81.5165L57.872 37.2801" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip29_0:944)">
                <path d="M9.55493 76.7444L59.1869 38.6604" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip30_0:944)">
                <path d="M6.13232 71.4799L60.3106 40.2" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip31_0:944)">
                <path d="M3.42236 65.814L61.22 41.8734" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip32_0:944)">
                <path d="M1.48022 59.8435L61.9083 43.6519" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip33_0:944)">
                <path d="M0.331299 53.6704L62.3558 45.5047" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip34_0:944)">
                <path d="M0 47.3997L62.5597 47.3997" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip35_0:944)">
                <path d="M0.489014 41.1396L62.5135 49.3053" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip36_0:944)">
                <path d="M1.78967 34.9968L62.2177 51.1885" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip37_0:944)">
                <path d="M3.88232 29.0768L61.68 53.0174" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip38_0:944)">
                <path d="M6.73083 23.4803L60.9092 54.7602" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip39_0:944)">
                <path d="M10.2844 18.3035L59.9164 56.3874" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip40_0:944)">
                <path d="M14.4816 13.6346L58.718 57.8711" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip41_0:944)">
                <path d="M19.2542 9.55408L57.3381 59.1861" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip42_0:944)">
                <path d="M24.5205 6.13086L55.8004 60.3092" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip43_0:944)">
                <path d="M30.1836 3.42419L54.1242 61.2219" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip44_0:944)">
                <path d="M36.1562 1.48047L52.3479 61.9085" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip45_0:944)">
                <path d="M42.3312 0.332397L50.4969 62.3569" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip46_0:944)">
                <path d="M48.5986 0V62.5597" stroke="white" stroke-width="1.35999" />
            </g>
            <g clip-path="url(#clip47_0:944)">
                <path d="M54.8584 0.488892L46.6927 62.5134" stroke="white" stroke-width="1.35999" />
            </g>
            <defs>
                <clipPath id="clip0_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(59.0312 1.2627) rotate(15)" />
                </clipPath>
                <clipPath id="clip1_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(65.0385 3.10266) rotate(22.5)" />
                </clipPath>
                <clipPath id="clip2_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(70.7529 5.71082) rotate(30)" />
                </clipPath>
                <clipPath id="clip3_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(76.0782 9.04236) rotate(37.5)" />
                </clipPath>
                <clipPath id="clip4_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(80.9219 13.0405) rotate(45)" />
                </clipPath>
                <clipPath id="clip5_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(85.2031 17.6372) rotate(52.5)" />
                </clipPath>
                <clipPath id="clip6_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(88.8477 22.7529) rotate(60)" />
                </clipPath>
                <clipPath id="clip7_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(91.7969 28.3008) rotate(67.5)" />
                </clipPath>
                <clipPath id="clip8_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(93.9918 34.1857) rotate(75)" />
                </clipPath>
                <clipPath id="clip9_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(95.4023 40.3071) rotate(82.5)" />
                </clipPath>
                <clipPath id="clip10_0:944">
                    <rect width="2.87999" height="95.9996" fill="white" transform="translate(96 46.5599) rotate(90)" />
                </clipPath>
                <clipPath id="clip11_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(95.7772 52.8374) rotate(97.5)" />
                </clipPath>
                <clipPath id="clip12_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(94.7383 59.0322) rotate(105)" />
                </clipPath>
                <clipPath id="clip13_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(92.8984 65.0386) rotate(112.5)" />
                </clipPath>
                <clipPath id="clip14_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(90.2891 70.7527) rotate(120)" />
                </clipPath>
                <clipPath id="clip15_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(86.9575 76.0778) rotate(127.5)" />
                </clipPath>
                <clipPath id="clip16_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(82.9609 80.9224) rotate(135)" />
                </clipPath>
                <clipPath id="clip17_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(78.3628 85.204) rotate(142.5)" />
                </clipPath>
                <clipPath id="clip18_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(73.2471 88.8488) rotate(150)" />
                </clipPath>
                <clipPath id="clip19_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(67.6991 91.7947) rotate(157.5)" />
                </clipPath>
                <clipPath id="clip20_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(61.8125 93.9912) rotate(165)" />
                </clipPath>
                <clipPath id="clip21_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(55.6914 95.4009) rotate(172.5)" />
                </clipPath>
                <clipPath id="clip22_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(49.4414 95.9995) rotate(-180)" />
                </clipPath>
                <clipPath id="clip23_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(43.1641 95.7769) rotate(-172.5)" />
                </clipPath>
                <clipPath id="clip24_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(36.9688 94.7368) rotate(-165)" />
                </clipPath>
                <clipPath id="clip25_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(30.9615 92.897) rotate(-157.5)" />
                </clipPath>
                <clipPath id="clip26_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(25.2471 90.2888) rotate(-150)" />
                </clipPath>
                <clipPath id="clip27_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(19.9218 86.9573) rotate(-142.5)" />
                </clipPath>
                <clipPath id="clip28_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(15.0781 82.959) rotate(-135)" />
                </clipPath>
                <clipPath id="clip29_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(10.7969 78.3628) rotate(-127.5)" />
                </clipPath>
                <clipPath id="clip30_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(7.15234 73.2466) rotate(-120)" />
                </clipPath>
                <clipPath id="clip31_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(4.20312 67.6987) rotate(-112.5)" />
                </clipPath>
                <clipPath id="clip32_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(2.00818 61.814) rotate(-105)" />
                </clipPath>
                <clipPath id="clip33_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(0.597656 55.6929) rotate(-97.5)" />
                </clipPath>
                <clipPath id="clip34_0:944">
                    <rect width="2.87999" height="95.9996" fill="white" transform="translate(0 49.4397) rotate(-90)" />
                </clipPath>
                <clipPath id="clip35_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(0.222778 43.1622) rotate(-82.5)" />
                </clipPath>
                <clipPath id="clip36_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(1.26172 36.9673) rotate(-75)" />
                </clipPath>
                <clipPath id="clip37_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(3.10156 30.9614) rotate(-67.5)" />
                </clipPath>
                <clipPath id="clip38_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(5.71094 25.2471) rotate(-60)" />
                </clipPath>
                <clipPath id="clip39_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(9.04248 19.9219) rotate(-52.5)" />
                </clipPath>
                <clipPath id="clip40_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(13.0391 15.0771) rotate(-45)" />
                </clipPath>
                <clipPath id="clip41_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(17.637 10.7958) rotate(-37.5)" />
                </clipPath>
                <clipPath id="clip42_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(22.7539 7.15088) rotate(-30)" />
                </clipPath>
                <clipPath id="clip43_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(28.3008 4.20496) rotate(-22.5)" />
                </clipPath>
                <clipPath id="clip44_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(34.1875 2.0083) rotate(-15)" />
                </clipPath>
                <clipPath id="clip45_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(40.3086 0.598633) rotate(-7.5)" />
                </clipPath>
                <clipPath id="clip46_0:944">
                    <rect width="2.87999" height="95.9996" fill="white" transform="translate(46.5586)" />
                </clipPath>
                <clipPath id="clip47_0:944">
                    <rect width="2.87999" height="95.9996" fill="white"
                        transform="translate(52.8359 0.222656) rotate(7.50004)" />
                </clipPath>
            </defs>
        </svg>

    </div>
</div>
