<div class="slide-wrapper mt-5">

    <section class="slide-bike">
        <img class="img-fluid" src="../../assets/images/velobike.png" alt="image: velobike" data-aos="fade-down"
            data-aos-mirror="true">
    </section>


    <section class="slide-bike">
        <img class="img-fluid" src="../../assets/images/scooter.png" alt="image: scooter" data-aos="fade-down"
            data-aos-mirror="true">
    </section>


    <section class="slide-bike">
        <img class="img-fluid" src="../../assets/images/motobike.png" alt="image: motobike" data-aos="fade-down"
            data-aos-mirror="true">
    </section>

    <section class="slide-bike last-slide">
        <div class="big-text" data-aos="fade-down" data-aos-mirror="true">
            The future is now
        </div>

        <div class="square-animation" data-aos="zoom-in" data-aos-delay="100" data-aos-mirror="true">
            <svg viewBox="0 0 354 354" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.0344828" x="30.8422" y="274.339" width="224.169" height="270.365"
                    transform="rotate(-84 30.8422 274.339)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.0689655" x="25.9478" y="266.557" width="224.169" height="270.365"
                    transform="rotate(-81 25.9478 266.557)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.103448" x="21.4683" y="258.528" width="224.169" height="270.365"
                    transform="rotate(-78 21.4683 258.528)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.137931" x="17.4122" y="250.278" width="224.169" height="270.365"
                    transform="rotate(-75 17.4122 250.278)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.172414" x="13.7991" y="241.825" width="224.169" height="270.365"
                    transform="rotate(-72 13.7991 241.825)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.206897" x="10.6289" y="233.195" width="224.169" height="270.365"
                    transform="rotate(-69 10.6289 233.195)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.241379" x="7.91403" y="224.41" width="224.169" height="270.365"
                    transform="rotate(-66 7.91403 224.41)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.275862" x="5.66629" y="215.496" width="224.169" height="270.365"
                    transform="rotate(-63 5.66629 215.496)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.310345" x="3.88653" y="206.476" width="224.169" height="270.365"
                    transform="rotate(-60 3.88653 206.476)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.344828" x="2.58253" y="197.376" width="224.169" height="270.365"
                    transform="rotate(-57 2.58253 197.376)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.37931" x="1.75227" y="188.219" width="224.169" height="270.365"
                    transform="rotate(-54 1.75227 188.219)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.413793" x="1.40647" y="179.032" width="224.169" height="270.365"
                    transform="rotate(-51 1.40647 179.032)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.448276" x="1.54021" y="169.84" width="224.169" height="270.365"
                    transform="rotate(-48 1.54021 169.84)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.482759" x="2.15542" y="160.667" width="224.169" height="270.365"
                    transform="rotate(-45 2.15542 160.667)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.517241" x="3.25212" y="151.538" width="224.169" height="270.365"
                    transform="rotate(-42 3.25212 151.538)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.551724" x="4.82053" y="142.48" width="224.169" height="270.365"
                    transform="rotate(-39 4.82053 142.48)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.586207" x="6.86165" y="133.516" width="224.169" height="270.365"
                    transform="rotate(-36 6.86165 133.516)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.62069" x="9.37257" y="124.672" width="224.169" height="270.365"
                    transform="rotate(-33 9.37257 124.672)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.655172" x="12.3426" y="115.971" width="224.169" height="270.365"
                    transform="rotate(-30 12.3426 115.971)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.689655" x="15.7591" y="107.436" width="224.169" height="270.365"
                    transform="rotate(-27 15.7591 107.436)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.724138" x="19.6211" y="99.0925" width="224.169" height="270.365"
                    transform="rotate(-24 19.6211 99.0925)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.758621" x="23.9169" y="90.9634" width="224.169" height="270.365"
                    transform="rotate(-21 23.9169 90.9634)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.793103" x="28.6273" y="83.0696" width="224.169" height="270.365"
                    transform="rotate(-18 28.6273 83.0696)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.827586" x="33.7482" y="75.4334" width="224.169" height="270.365"
                    transform="rotate(-15 33.7482 75.4334)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.862069" x="39.2603" y="68.0754" width="224.169" height="270.365"
                    transform="rotate(-12 39.2603 68.0754)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.896552" x="45.148" y="61.0152" width="224.169" height="270.365"
                    transform="rotate(-9 45.148 61.0152)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.931035" x="51.3989" y="54.2739" width="224.169" height="270.365"
                    transform="rotate(-6 51.3989 54.2739)" stroke="#C4F07F" stroke-width="2" />
                <rect opacity="0.965517" x="57.9924" y="47.8677" width="224.169" height="270.365"
                    transform="rotate(-3 57.9924 47.8677)" stroke="#C4F07F" stroke-width="2" />
                <rect x="64.9141" y="41.8168" width="224.169" height="270.365" stroke="#C4F07F" stroke-width="2" />
            </svg>
        </div>
    </section>

</div>
