@use "sass:math";
@import "../../functions";
@import "../../variables";

.header {
    display: flex;
    align-items: center;
    margin-top: rem(100);

    .text-with-app_links {
        z-index: 30;

        .present-text {
            font-family: $mf;
            font-size: 10vw;
            line-height: rem(150);
            text-transform: uppercase;
            cursor: default;

            animation: fadeIn 1s cubic-bezier(0.95, 0.2, 0.795, 0.035);

            @media screen and (min-width: 1240px) {
                font-size: rem(124);
            }
        }

        .app-links {
            margin: rem(100) 0 0 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 40%;

            .app-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                transition: 0.2s;
                border: rem(2) solid transparentize(white, 0.5);
                border-radius: rem(15);
                padding: rem(10) rem(20);

                animation: fadeOut 1s cubic-bezier(0.95, 0.2, 0.795, 0.035);

                .app-link-text {
                    font-family: $mf;
                    margin-left: rem(15);

                    .sub-text {
                        font-size: rem(12);
                        color: rgba(255, 255, 255, 0.5);
                    }

                    .text {
                        margin-top: rem(5);
                        font-weight: bold;
                    }
                }

                svg {
                    transition: 0.2s;
                }

                &:hover {
                    border-color: #C4F07F;

                    svg {
                        transform: scale(.90);

                        path {
                            fill: #C4F07F;
                        }
                    }
                }
            }
        }
    }

    .circle-appear {
        z-index: 0;
        position: absolute;
        right: 30;

        @media screen and (min-width: 1240px) {
            right: 5vw;
            transform: scale(1.2);
        }

        @media screen and (min-width: 1920px) {
            right: 10%;
            transform: scale(1.4);
        }

        svg {
            animation: circleMoveAround 20s cubic-bezier(0.90, 0.025, 0.90, 0.025) infinite;
        }
    }
}

@keyframes circleMoveAround {
    0% {
        transform: rotate(0deg) scale(0.5) skew(0deg, 0deg);
    }

    60% {
        transform: rotate(360deg) scale(1) skew(0deg, 5deg);
    }

    100% {
        transform: rotate(720deg) scale(0.5) skew(0deg, 0deg);
    }
}