<div class="invest-header justify-content-lg-center">
    <div class="container">
        <div class="headline">
            <span class="accented-text">Invest</span> <svg class="accent-line d-none d-md-inline-block" width="225"
                height="3" viewBox="0 0 225 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="1.5" x2="225" y2="1.5" stroke="white" stroke-width="3" />
            </svg>
            <br> in future
        </div>
        <div class="mt-5">
            <a class="green-btn" href="#">Invest</a>
        </div>
    </div>
</div>
