<div class="invest-header justify-content-lg-center">
    <div class="container pt-5 mt-5 pt-lg-0">
        <div class="headline pt-5 pt-lg-0" data-aos="fade-right">
            <span class="accented-text">Invest</span> <svg class="accent-line d-none d-lg-inline-block" width="225"
                height="3" viewBox="0 0 225 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="1.5" x2="225" y2="1.5" stroke="white" stroke-width="3" />
            </svg>
            <br> in future
        </div>
        <div class="mt-5 pt-5 pt-md-0 d-flex justify-content-center justify-content-md-start" data-aos="fade-up"
            data-aos-duration="1200">
            <a class="green-btn" href="#">Invest</a>
        </div>
    </div>
</div>
