<div class="creating-section">
    <div class="container">
        <div class="d-flex align-items-center first-text">
            <div class="text-small" data-aos="fade-right">
                The world will never be the same with us /</div>
            <div class="text-big" data-aos="fade-up">
                creating a new transport system
            </div>
        </div>

        <div class="d-flex">
            <div class="text-big" data-aos="fade-up">
                that will change
                <svg class="accent-line" width="92" height="2" viewBox="0 0 92 2" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <line x1="8.74228e-08" y1="1" x2="92" y2="1.00001" stroke="#C4F07F" stroke-width="2" />
                </svg>
                your life /
            </div>
            <div data-aos="fade-left"><img class="img-fluid" src="../../assets/images/thatwillchange.jpg" alt=""></div>
        </div>
    </div>
</div>
