$dark: black;

$cgf: 'CenturyGothic', sans-serif;
$rf: 'Roboto', sans-serif;
$mf: 'Michroma', sans-serif;

.accent-line {
	transform: translateY(-1vmax);
}

.text-rounded-for-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	letter-spacing: rem(10);
	z-index: 10;
	position: relative;
	width: 40%;
	transform: translateY(rem(-20));

	.rounded-text {
		transition: 5s;
		transform: rotate(0deg);
	}

	.linear-text {
		position: relative;
		z-index: 30;
		letter-spacing: normal;
		margin-top: -230%;
		color: #c4f07f;
		padding: rem(30);

		.arrow {
			transition: 0.35s;
		}
	}

	&:hover {
		.linear-text {
			.arrow {
				transform: translateX(10%);

				path {
					fill: #c4f07f;
				}
			}
		}

		.rounded-text {
			transform: rotate(360deg);
		}
	}
}

.line_ {
	display: inline-block;
	max-width: 30vw;
	width: 10vw;

	@media screen and (min-width: 768px) {
		width: 30vw;
	}

	@media screen and (min-width: 1240px) {
		width: 35%;
	}

	height: 1px;
	background: white;
	color: white;
	border-radius: rem(10);

	animation: viewLines 0.75s cubic-bezier(0.975, 0.185, 0.22, 0.1);
}
