@import "functions";
@import "~reseter.css/src/scss/reseter.scss";
@import '~bootstrap/scss/bootstrap-grid.scss';
@import "fonts";
@import "variables";
@import "animations";
@import "~aos/dist/aos.css";

@import './components/header/header';

html {
    overflow-x: hidden;
    max-width: 100vw;
    font-family: $mf;
}

body {
    background: $dark;
    color: white;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overscroll-behavior: none;
}

#app {
    transition: 0.15s;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 100vw;

    &.hide {
        transition: 0.15s;
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}


.container,
.container-md {
    display: block;
    margin: 0 auto;
    max-width: rem(1200);
    padding: 0 rem(20);
    width: 100%;
}

.container-md {
    max-width: rem(1250);
}
