<div class="get-app-section-block overflow-hidden">
    <div class="d-flex flex-column flex-lg-row row-cols-lg-3 justify-content-between">
        <div class="phone-screenshot d-flex" data-aos="zoom-in-up">
            <img class="mx-auto me-md-0" src="../../assets/images/phone.png" alt="phone">
        </div>

        <div class="text my-5 px-md-5">
            <div class="px-4 px-md-0" data-aos="fade-down">
                You can choose any nearest transport you like and leave it where it is the most convenient
                for you/
            </div>
            <div class="d-none d-md-block mt-5" data-aos="flip-left">
                <svg class="" width="300" height="214" viewBox="0 0 300 214" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <line x1="204.5" y1="1" x2="204.5" y2="213" stroke="#716969" />
                    <line x1="205" y1="213.5" x2="-4.37114e-08" y2="213.5" stroke="#716969" />
                    <line x1="107" y1="0.5" x2="300" y2="0.5" stroke="#716969" />
                </svg>
            </div>
        </div>

        <div class="app-links align-self-center mb-5 align-items-center d-flex flex-column justify-content-center">
            <a href="#" class="app-link" data-aos="zoom-in-up">
                <div>
                    <svg height="40px" role="img" viewBox="0 0 512 512">
                        <path fill="#fff"
                            d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z" />
                    </svg>
                </div>
                <div class="app-link-text">
                    <div class="sub-text">Get it on</div>
                    <div class="text">App Store</div>
                </div>
            </a>

            <a href="#" class="app-link mt-5" data-aos="zoom-in-up">
                <div>
                    <svg height="40px" role="img" viewBox="0 0 512 512">
                        <path fill="#fff"
                            d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z" />
                    </svg>
                </div>
                <div class="app-link-text">
                    <div class="sub-text">Download on the</div>
                    <div class="text">App Store</div>
                </div>
            </a>
        </div>
    </div>
</div>
