@import "../../functions";
@import "../../variables";

.transport-section {
  margin-top: rem(120);
  min-height: 100vh;
  display: flex;
  align-items: center;

  .images {
    img {
      transition: 0.2s;
      position: absolute;
      max-width: rem(320);
      transform: translateY(-50%) scale(0);
      opacity: 0%;
    }

    .active {
      opacity: 100%;
      transform: translateY(-50%) scale(1.25);
    }
  }

  .list {
    .list-wrapper {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 2.75vmax;
        border-bottom: rem(3) solid #d6d6d6;
        margin-bottom: 5vmax;
        padding: rem(15) 0;
        cursor: pointer;
        font-family: $mf;

        span {
          transition: 0.15s;
          margin-right: rem(100);
          color: #c4f07f;
        }

        &:hover,
        &:focus {
          span {
            transform: translateX(rem(50));
          }
        }
      }
    }
  }
}
